html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-size: 14px;
    padding: 10px;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.theme {
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    user-select: none;
}

.global_toast {
    position: fixed;
    top: -50px;
    left: 50%;
    padding: 6px 20px;
    min-width: 100px;
    min-height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
    transition: all 200ms;
}
.global_toast.success {
    color: #67c23a;
    border-color: #e1f3d8;
    background-color: #f0f9eb;
}
.global_toast.error {
    color: #f56c6c;
    border-color: #fde2e2;
    background-color: #fef0f0;
}

.v-enter-to {
    top: 10px;
}
.v-leave-to {
    top: -50px;
}