@font-face {
  font-family: "iconfont"; /* Project id 2872315 */
  src: url('iconfont.woff2?t=1634374777776') format('woff2'),
       url('iconfont.woff?t=1634374777776') format('woff'),
       url('iconfont.ttf?t=1634374777776') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e6c0";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-webpack:before {
  content: "\e6ae";
}

.icon-Vue:before {
  content: "\e799";
}

