@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1624703515839') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhankai:before {
  content: "\e68a";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-http:before {
  content: "\e89d";
}

.icon-js:before {
  content: "\e63b";
}

.icon-html:before {
  content: "\e656";
}

.icon-react:before {
  content: "\e689";
}

.icon-css:before {
  content: "\e618";
}

